.My profile
{
    width: auto;
    height: 400px;
    background-color: cornflowerblue;
}
.Skills{
    width:auto;
    height:400;
    background-color: cornflowerblue;
}
.Education{
    width:auto;
    height:400px;
    background-color: cornflowerblue;
}
.Interests{
    width: auto;
    height:400px;
    background-color: cornflowerblue;
}